{% extends '_base.html' %}

{% block title %}About us{% endblock %}

{% block content %}
<h1>About us</h1>
<br>
Commenced in 2021, <b>StocTrak</b> is created to simulate managing a portfolio of stocks. Currently, the product offered is free Stock Investment Tracking Tool. The product line of StocTrak continues to grow with many upcoming projects to extend the functionality to bonds, mutual funds and other investments.
<br> <br>
Targetted users are school and college students and teachers from Finance/Business subjects and those who are interested to learn and test the waters before investing their monies in the real stock markets.
<br> <br>
There is a blog with articles published by reputed financial websites to help the users learn about stocks and how the stock market works.
<br><br>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias ad, iure neque ut cumque tempora eius voluptatem nobis ipsa dolor excepturi harum! Suscipit dignissimos delectus natus, quae culpa cum explicabo?
{% endblock content %}