{% extends '_base.html' %}

{% block title %}About us{% endblock %}

{% block content %}
<h1>About us</h1>
<br>
Commenced in 2021, <b>StocTrak</b> is created to simulate managing a portfolio of stocks and get the value at a given point of time. Currently, the product offered is free Stock Investment Tracking Tool. The product line of StocTrak continues to grow with many upcoming projects to extend the functionality to bonds, mutual funds and other investments.
<br> <br>
Targetted users are school and college students and teachers from Finance/Business subjects and those who are interested to learn and test the waters before investing their monies in the real stock markets.
<br> <br>
This site allows any user to create an account, invest virtual cash to buy stocks and sell them and get the calculated portfolio value. There is blog with articles published by reputed financial websites to help the users learn about stocks and how the stock market works.

{% endblock content %}